h1{
    color: #212529 !important;
    font-weight: bold;
}

h2{
    font-weight: normal;
}

div.step{
    background-image: url('https://recalderon.github.io/cientec-reaproveitamentodaagua/assets/dist/img/fundo.png');
}